* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #1F2E35;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  position: sticky;
}

.navbar {
  width: 100%;
  background-color: #1F2E35;
}
.navbar .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar .logo {
  display: flex;
  align-items: center;
}
.navbar .logo .logo__name {
  margin-left: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 30px;
}
.navbar .navbar-nav {
  display: flex;
  align-items: center;
}
.navbar .nav-item {
  margin-left: 20px;
}
.navbar .nav-item .nav-link {
  color: white;
  border-bottom: white;
  transition: all 0.4s;
}
.navbar .nav-item .nav-link:hover {
  border-bottom: 1px solid;
}
.navbar .btn {
  width: 110px;
  height: 43px;
  background-color: #02897A;
  margin-left: 20px;
  color: white;
  transition: all ease 0.3s;
}
.navbar .btn:hover {
  border: 1px solid white;
  background-color: transparent;
}
.navbar .img__nav {
  width: 32px;
  height: 32px;
  align-items: center;
  margin-left: 10px;
}

.hero .hero__inner {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .hero__left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero .hero__title {
  width: 518px;
  color: white;
}
.hero .hero__p {
  width: 458px;
  color: white;
  font-size: 18px;
}
.hero .hero__btn {
  width: 175px;
  height: 43px;
  background-color: #02897A;
  border: none;
  border-radius: 5px;
  color: white;
  transition: all ease 0.3s;
}
.hero .hero__btn:hover {
  border: 1px solid white;
  background-color: transparent;
}

.main .main image {
  width: 50px;
  height: 50px;
}
.main .main__title {
  color: white;
  width: 539px;
  font-size: 32px;
  text-align: center;
  margin: 0 auto;
}
.main .main__inner {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main__inner .info__main {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
  width: 240px;
  height: 52px;
}
.main .main__inner .info__main .info__fourth {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 240px;
  height: 124px;
}
.main .main__inner .info__main .info__fourth h3 p {
  color: white;
}
.main .main__button {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main__btn {
  width: 175px;
  height: 43px;
  background-color: #02897A;
  border: none;
  border-radius: 5px;
  color: white;
  transition: all ease 0.3s;
}
.main .main__btn:hover {
  border: 1px solid white;
  background-color: transparent;
}

.documentation {
  margin-top: 100px;
}
.documentation .documentation__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.documentation .documentation__inner .documentation__title {
  color: white;
}
.documentation .documentation__inner .documentation__desc {
  width: 486px;
  color: white;
}
.documentation .documentation__second {
  margin-top: 150px;
}
.documentation .right__documentation {
  margin-right: 100px;
}
.documentation .documentation__third {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.documentation .documentation__desc__withimg {
  display: flex;
  align-items: center;
}
.documentation .documentation__desc__withimg p {
  margin-top: 15px;
  margin-left: 20px;
}

.strategy .strategy__title {
  color: white;
}
.strategy .strategy__cards {
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.strategy .str__card-1 {
  width: 348px;
  height: 359px;
  background-color: white;
  border-radius: 5px;
}
.strategy .str__card-1 .str__card2__desc {
  color: #02897A;
}
.strategy .desc__card__strategy {
  padding: 20px 30px;
}
.strategy .last__str {
  color: white;
  text-align: center;
}

.price {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.price .price__card {
  width: 30%;
  height: 600px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 40px;
  border-radius: 10px;
  transition: all ease 0.5s;
}
.price .price__card .main__price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.price .price__card .price__linear {
  justify-content: center;
  align-items: center;
}
.price .price__card h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #22343D;
}
.price .price__card p {
  font-size: 16px;
  line-height: 40px;
  color: #22343D;
}
.price .price__card .price_numbers {
  gap: 3px;
}
.price .price__card .price_numbers h1 {
  font-size: 76px;
  line-height: 100px;
  color: #04867b;
}
.price .price__card .price_numbers h2 {
  font-size: 24px;
  line-height: 30px;
  color: #04867b;
}
.price .price__card .price_numbers p {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1000000015px;
  color: #AFAFAF;
}
.price button {
  width: 175px;
  height: 43px;
  background-color: #02897A;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  color: white;
  transition: all ease 0.3s;
}
.price button:hover {
  color: black;
  border: 1px solid white;
  background-color: white;
}
.price .price__card:hover {
  background-color: #04867b;
}
.price .price__card:hover h1 {
  color: #DDE4E4;
}
.price .price__card:hover h2 {
  color: #DDE4E4;
}
.price .price__card:hover p {
  color: #DDE4E4;
}
.price .price__card:hover button {
  border: 1px solid #fff;
}

.stars {
  margin-top: 100px;
}
.stars .stars__title p {
  width: 537px;
  margin: 0 auto;
}
.stars .stars__title {
  text-align: center;
  color: white;
}
.stars .stars__title h2 {
  font-size: 34px;
}

.stars .stars__cards__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.stars .star__cards {
  margin-top: 50px;
  width: 327px;
  height: 236px;
  background-color: white;
  border-radius: 5px;
  padding: 30px;
}
.stars .star__cards .stars__card__title__info {
  padding-top: 10px;
}
.stars .star__cards .star__person__card {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stars .star__cards .stars__person__fn {
  color: #02897A;
}

.join {
  width: 968px;
  height: 345px;
  background-color: #02897A;
  border-radius: 32px;
  margin: 0 auto;
  margin-top: 150px;
}
.join .join__wrapper {
  display: flex;
  align-items: center;
  padding: 20px;
}
.join .join__left {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 30px;
}
.join .join__left .join__btn {
  width: 150px;
  height: 50px;
  background-color: white;
  color: #02897A;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  transition: all ease 0.4s;
}
.join .join__left .join__btn:hover {
  border: 1px solid white;
  background-color: transparent;
  color: white;
}
.join .join__left .join__title {
  color: white;
  width: 510px;
  font-size: 32px;
}

.footer {
  margin-top: 150px;
}
.footer .footer__resource__part {
  margin-top: 110px;
}
.footer .footer__legal__part {
  margin-top: 110px;
}
.footer .footer__signUp__part {
  margin-top: 90px;
}
.footer .logo {
  display: flex;
  align-items: center;
}
.footer .logo__name {
  margin-top: 3px;
  color: white;
  font-size: 30px;
  margin-left: 10px;
}
.footer .footer__network__btns {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}
.footer .footer__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all ease 0.4s;
}
.footer .footer__btn:hover {
  box-shadow: 0 0 50px 0 #02897A;
  transform: translateY(-5px);
}
.footer .footer__nav a {
  color: white;
}
.footer .footer__signUp__part__title {
  color: white;
  width: 280px;
}
.footer .textarea__footer {
  width: 325px;
  height: 48px;
  outline: none;
  resize: none;
}
.footer .footer__signUp__btn {
  width: 131px;
  height: 39px;
  background-color: #02897A;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  transition: all ease 0.3s;
}
.footer .footer__signUp__btn:hover {
  border: 1px solid white;
  background-color: transparent;
}