.main{
    .main image{
        width: 50px;
        height: 50px;
    }
    .main__title{
        color: white;
        width: 539px;
        font-size: 32px;
        text-align: center;
        margin: 0 auto;
    }
    .main__inner{
        margin-top: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .info__main{
            display: flex;
            flex-direction: column;
            gap: 7px;
            color: white;
            width: 240px;
            height: 52px;
            .info__fourth{
                display: flex;
                flex-direction: column;
                gap: 7px;
                width: 240px;
                height: 124px;
            } .info__fourth h3 p{
                color: white;
            }
        }
    }
    .main__button{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .main__btn{
        width: 175px;
        height: 43px;
        background-color: #02897A;
        border: none;
        border-radius: 5px;
        color: white;
        transition: all ease 0.3s;
    } .main__btn:hover{
        border: 1px solid white;
        background-color: transparent;
    }
}