.stars{
    margin-top: 100px;
    .stars__title p{
        width: 537px;
        margin: 0 auto;
    }
    .stars__title{
        text-align: center;
        color: white;
    }
    .stars__title h2{
        font-size: 34px;
    }
}