.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;

}
.navbar{
    width: 100%;
    background-color: #1F2E35;
    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        display: flex;
        align-items: center;   
        .logo__name{
        margin-left: 5px;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: white;
        font-size: 30px;
        }    
    } 
    .navbar-nav{
        display: flex;
        align-items: center;
    }
    .nav-item{
        margin-left: 20px;
        .nav-link{
            color: white;
        }
    }
    .btn{
        width: 110px;
        height: 43px;
        background-color: #02897A;
        margin-left: 20px;
        color: white;
        transition: all ease 0.3s;
    }
    .btn:hover{
        border: 1px solid white;
        background-color: transparent;
    }
    .img__nav{
        width: 32px;
        height: 32px;
        align-items: center; 
        margin-left: 10px;
    }
}