.strategy{
    .strategy__title{
        color: white;
    }
    .strategy__cards{
        display: flex;
        gap: 50px;
        justify-content: space-between;
    }
    .str__card-1{
        width: 348px;
        height: 359px;
        background-color: white;
        border-radius: 5px;
        .str__card2__desc{
            color: #02897A;
        }
    }
    .desc__card__strategy{
        padding: 20px 30px;
    }
    .last__str{
        color: white;
        text-align: center; 
    }
}