* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    // font-family: "Poppins", sans-serif;
    // font-weight: 500;
    // font-style: normal;
    background-color: #1F2E35;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.df{
    display: flex;
    justify-content: space-between;
    align-items: center;
}