.enterprice{
    .enterprice__bg{
        margin-top: 100px;
        width: 100%;
        height: 318px;
        background-color: #22343D;
        .enterprice__title{
            color: white;
            margin-top: 50px;
        }
        .enterprice__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .enterprice__title__main{
            color: white;
            margin-top: 20px;
        }
        .enterprice__desc{
            color: white;
        }
        .enterprice__btn{
            margin-top: 20px;
            width: 224px;
            height: 44px;
            border-radius: 8px;
            background-color: #02897A;
            border: none;
            margin-left: 20px;
            color: white;
            transition: all ease 0.3s;
        }
        .enterprice__btn:hover{
            border: 1px solid white;
             background-color: transparent;
        }
    }
}